@using EvaraTemplate.ViewModels.ProductVM;
@model SetProductVM
<form class="col-6" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rate"></label>
        <input asp-for="Rate" class="form-control">
        <span asp-validation-for="Rate"></span>
    </div>
    <div class="form-group">
        <label asp-for="formImages"></label>
        <input asp-for="formImages" class="form-control">
        <span asp-validation-for="formImages"></span>
    </div>
    <div class="form-group">
        <select class="custom-select" asp-for="CatagoryId">
            @foreach (Catagory item in (List<Catagory>) ViewData["catagories"])
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>