@model Slider
<div class="card" style="width: 18rem;">
    <img src="~/assets/imgs/slider/@Model.ImageName" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Offer</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Title1</h6>
        <p class="card-text">@Model.Title2</p>
    </div>
    <p>@Model.Description</p>
</div>